.developers-card {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
}

.developer-card {
  display: flex;
  margin-bottom: 50px;
}

.center-box {
  margin-left: 25px;
  margin-right: 25px;
}

.developer__name {
  margin-bottom: 15px;
  font-weight: 900;
}

.developer__senjority {
  margin-bottom: 10px;
}

.right-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
